<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
    <div class="container">
    <div class="page-header">

      
      
      <ul class="nav nav-tabs pull-right">
        <li><%= link_to "Blocitoff", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "To-dolists", todolists_path %></li> 
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      </ul>

        <h1> Blocitoff<small> // To do list app!</small></h1>
    </div>
    
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </div>
</body>
</html>
